:root {

    --xxs: 0.2rem;
    --xs: 0.5rem;
    --s:0.8rem;
    --m: 1rem;
    --l: 1.5rem;
    --xl: 2rem;
    --xxl: 3.5rem;
    --xxxl: 6rem;
    
    --light: #DDD; 
    --dark: #AAA;
    --darker: #999;
    --darkest: #666;
    --color-accent: rgb(223, 149, 13);

    --border-with-s: 1px;
    --container-width-s: 500px;

}